/**
 * @file
 * Visual styles for icons.
 */

.icon-help {
  padding: 1px 0 1px 20px; /* LTR */
  background: url(../../images/icons/help.png) 0 50% no-repeat; /* LTR */
}
[dir="rtl"] .icon-help {
  padding: 1px 20px 1px 0;
  background-position: 100% 50%;
}
.feed-icon {
  display: block;
  overflow: hidden;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  background: url(../../images/icons/feed.svg) no-repeat;
}

/**
 * Export button styles.
 */
.export-link {
  text-indent: 0;
  overflow: visible;
  width: auto;
  height: auto;
  padding-left: 28px !important;
  background-repeat: no-repeat;
  background-position: 8px center;
  background-size: 16px;
  display: inline-flex;
  align-items: center;
}

.export-link--xlsx {
  background-image: url(../../images/icons/x-office-spreadsheet.png);
}

.export-link--csv {
  background-image: url(../../images/icons/text-x-generic.png);
}
